@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force transparency for the rocket icon box */
.rocket-icon-container, .rocket-icon-container > div, .rocket-icon-container img {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  mix-blend-mode: screen; /* This will make the white background disappear on a dark background */
}
